#index{
          width: 470px;
          height: 575px;
          background-color: grey;
       }
       #panel{
          width: 400px;
          height:80px;
          background-color:white;
          gap: 100px;
          display: flex;
          font-size: 50px;
          font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          justify-content: center;
       }
       .button{
        width: 65px;
        height :55px;
        font-size: 25px;
        margin: 20px;
       }
       #file{
        width: 300px;
        height: 95px;
        color: aliceblue;
        background-color: brown;
        font-size: 35px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
       }
       #sidePanel {
          height: 100%;
          width: 0; /* Hidden by default */
          position: fixed;
          top: 0;
          left: 0;
          background-color: whitesmoke;
          overflow-x: hidden;
          transition: 0.3s;  /* Smooth slide effect */
          padding-top: 60px;
        }

        /* Panel content */
        #sidePanel a {
          padding: 10px 15px;
          text-decoration: none;
          font-size: 20px;
          color: darkblue;
          display: flex;
        }

        #sidePanel a:hover {
          background-color: #425737;
        }
